.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.movies-list {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top: 1em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.poster{
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3em;
}

.movie-list{
  margin-top: 2em;
}

.user-input{
  width: 85% !important;
}

.search-field{
  display: flex;
}

.btn{
    margin-left: 1em;
}
